body {
    padding:0px;
    margin:0px;
}

#p1{
    background-color:#842d92;
}

#p2{
    background-color:#1a5fbf;
}

#p3{
    background-color:#52db2b;
}

.pClass{
    border:5px dotted #ff0000;
}

input{
    border:2px solid red;
}